
html, body {
    margin: 0;
    min-height: 100%;
}

.gradient {
    background-image: linear-gradient( #6ED6D6 , #9BED32);
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 15rem;
    left: 0;
    top: 97%;
    overflow-y: scroll;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    display: none;
    z-index: 9;
    padding: 0;
    list-style: none;
    margin: 0;
}

.dropdown .dropdown-menu li {
    position: relative; 
    width: 74%;
    padding: 7px;
    padding-left: 7%;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    cursor: pointer;
    font-family: 'Myriad Pro';
    font-size: 1.15rem;
    color: #19647e;
} 

.dropdown {
    width: 100%;
    display: block;
    background-color: #f9f6ef;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left;
    outline: none;
    margin: auto;
    cursor: pointer;
    height: 2rem;
}

.downArrowSelect {
    width: 15px;
    position: absolute;
    right: 1rem;
    top: .5rem;
}

#daySelect, #monthSelect {
    position: absolute;
    top: .5rem;
    left: 1rem;
    margin: 0;
}

.container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.birthdayWrapper {
    width: 67%;
    text-align: center;
}

.birthdayWrapper:first-child {
    margin-top: 31rem;
}

.birthdayWrapper:not(first-child) {
    margin-top: 3rem;
}

.dateWrapper {
    width: 99%;
    display: flex;
    height: 2rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.dateWrapper p {
    width: 40%;
}

.dateWrapper:nth-child(odd) {
    background-color: lightgray;
}

.dateWrapper:nth-child(even) {
    background-color: #FFA93E;
}

label {
    display: block;
    margin-bottom: .7rem;
}

.inputsContainer {
    position: absolute;
    width: 99%;
    margin: 6rem auto 0 auto;
    z-index: 2;
}

input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 1.7rem;
    text-indent: 1rem;
    outline: none;
}

#nameInput {
    background-color: #f9f6ef;
}

select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 2rem;
    text-indent: 1rem;
    outline: none;
}

button {
    display: block;
    margin: 1rem auto;
    background: none;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: .8rem 2rem;
    cursor: pointer;
    color: white;
}

#submitBtn {
    background-color: #FFA93E;
}

#clearBtn {
    display: none;
    background-color: #FF7272;
}

.nameWrapper, .dayWrapper, .monthWrapper {
    position: relative;
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
}

.balloonsWrapper {
    position: absolute;
    top: 0;
    width: 99%;
    text-align: center;
    z-index: 1;
}

.birthdayHeader {
    position: absolute;
    left: 4%;
    width: 350px;
    height: 250px;
}

.birthdayCake {
    position: absolute;
    right: 4%;
    width: 250px;
    height: 250px;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

@media only screen and (max-width: 765px) {
    .balloonsWrapper {
        width: 100%;
        background: url("../images/balloons.png") no-repeat center top;
        background-size: contain;
        height: 40rem;
    }

    .inputsContainer {
        width: 100%;
        margin: 10rem auto 0 auto;
    }

    .nameWrapper, .dayWrapper, .monthWrapper, .dropdown {
        width: 13rem;
    }

    .birthdayHeader, .birthdayCake {
        display: none;
    }

    .birthdayWrapper:first-child {
        width: 100%;
        margin-top: 40rem;
    }

    .birthdayWrapper:not(first-child) {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .left {
        width: 45%;
    }

    .right {
        width: 45%;
    }

    .birthdayWrapper:first-child {
        width: 100%;
        margin-top: 32rem;
    }

    .dateWrapper p:first-child {
        width: 30%;
    }

    .dateWrapper p:last-child {
        width: 70%;
    }
}

@media only screen and (max-width: 370px) {

    .nameWrapper, .dayWrapper, .monthWrapper, .dropdown {
        width: 11rem;
    }
}

@media only screen and (max-width: 360px) {
    .dayP {
        font-size: .87rem;
    }
}
